<% include partials/header.ejs %>

<div id="qc-desc">
                <div>
                    <img src="images/diagram.png" alt="QC vs. CC" id="aboutPic"/>
                </div>
                
                <h2>Quantum Computing Basics</h2>
               <p>With quantum computers, and quantum computing in general, the biggest
               difference they hold in contrast to classical or conventional computers
               is how they store and process data.</p>
               <p>Whereas classical computers are built from silicon consisting of 
               numerous transitors that process binary data of 0s and 1s, quantum
               computers utilize quantum mechanical properties of atoms or super
               conducting electic circuits to facilitate <abbr title="qubits">
               quantum bits</abbr>, which can be both a 0 or a 1 at the same time, by way of 
               <a rel="external" href="https://medium.com/@mark.rethana/a-beginners-guide-to-the-quantum-computing-and-superposition-536e4fc040a2">
                   superposition
               </a>.
               </p>
               <p>Consequently, this quantum characteristic enables quantum computing
               to process a significant of different data scenarios and computations
               than the classical method, resulting in utterly massive parallel
               processing.</p>
               <br/>
               <a href="/">Back to Main</a>
               
</div>



<% include  partials/footer.ejs %>