<% include partials/header.ejs %>

<div id="can-do-details">
                <div>
                    <img src="images/Quantum-Computing-Technology.jpg" alt="zeros and ones" id="canPic"/>
                </div>
                
                <h2>Some Organizations and their Proposed Applications of Quantum Computing</h2>
                <table class="table-contents">
                     <tr id="table-header">
                        <td><strong>Business Sources</strong></td>
                        <td><strong>Applications</strong></td>
                     </tr>
                     <tr class="table-row">
                        <td class="companies">Google</td>
                        <td>Artificial Intelligence, Advanced Machine Learning, Discrete Optimization.</td>
                     </tr>
                     <tr class="table-row">
                        <td class="companies">Honeywell</td>
                        <td>Pharmaceuticals: drug design and discovery efficiency</td>
                     </tr>
                     <tr class="table-row">
                        <td class="companies">IBM</td>
                        <td>Supply Chain and Logistics: fleet operations and delivery optimization</td>
                     </tr>
                     <tr class="table-row">
                        <td class="companies">Intel</td>
                        <td>Massive Parallelism, Individualized Genetic Medicine, Astrophysics</td>
                     </tr>
                     <tr class="table-row">
                        <td class="companies">DARPA</td>
                        <td>Cybersecurity and Cyrptography, Chemical Reaction Modeling, Material Science</td>
                     </tr>
                </table>
                <br/>
   <a href="/">Back to Main</a>
</div>

<% include  partials/footer.ejs %>