<% include partials/header.ejs %>

<div style="margin-left: 60px;"></div>
            <div id="qc_not">
                <h2>Current Limitations and Impossibilities of Quantum Computing</h2>
                <p>Contrary to popular belief, current quantum computing capabilities and properties
                do not lend themselves well to the latest, hot industry trends,
                like big data analytics and search algorithms.  Here are some of the technologies
                that are better suited for our good 'ol fashioned, conventional binary 
                supercomputers:
                <br />
                <div>
                <img src="images/qc_cannnot.jpg" alt="Disabled Until Further Noticed" id="cannotPic"/>
                </div>
               
                <div class="b-list">
                <p>Quantum Computing and Big Data</p>
                <ul>
                    <li>No ability to access a database to read, write, update, or query data</li>
                    <li>No ability to access data over a network</li>
                    <li>No ability to read and write text or data files</li>
                </ul>
                <br/><br/><br/><br/>
                <p>Quantum Computing and Searching</p>
                <ul class="b-list">
                    <li>No practical or even conceptual method to load a large classical database into a quantum computer</li>
                    <li>Only has access to limited data represented by qubits</li>
                </ul>
                <p>Quantum Computing and Complex Calculations</p>
                <ul class="b-list">
                    <li>Can execute only a relatively small number of operations before the quantum state of the qubits begins to decay</li>
                    <li>Better suited for extremely large number of relatively simple calculations</li>
                </ul>
                </div>
               
    <br/>
   <a href="/">Back to Main</a>
</div>


<% include  partials/footer.ejs %>