<% include partials/header.ejs %>

<div id="contents">
                <div>
                    <img src="images/sycamore.jpg" alt="Google's Sycamore Processor" id="indexPic"/>
                </div>
                
               
                <br/><p>The following collection of web pages will briefly describe 
                what <span class="quantum">Quantum Computing</span> is, its potential practical and business
                applications, and also its current limitations for real-world use.</p>
                <p>Use the buttons in the menu above to explore further.</p>
                
</div>
            
<br/>

<% include  partials/footer.ejs %>