<% include partials/header.ejs %>
    <div id="qc-sources">
               
            <figure>
                <img src="images/qc_chip.jpg" alt="sources" />
            </figure>

            <div class="links">
                <h2>References</h2>
                     <ul>
                        <li><a href="https://medium.com/@jackkrupansky/what-applications-are-suitable-for-a-quantum-computer-5584ef62c38a" target="_blank">https://medium.com/what-applications-are-suitable-for-a-quantum-computer</a></li>
                        <li><a href="https://www.explainingcomputers.com/quantum.html" target="_blank">https://www.explainingcomputers.com/quantum.html</a></li>
                        <li><a href="https://www.inverse.com/article/38860-quantum-computers-are-almost-here" target="_blank">https://www.inverse.com/article/38860-quantum-computers-are-almost-here</a></li>
                     </ul>
                  <br/>
            </div>
        <br/>
       <a href="/">Back to Main</a>
     <div>

<% include  partials/footer.ejs %>